<% if user_signed_in? && @plans.present? %>
  <div data-controller="plan-list">

    <button type="button"
            class="secondary-button"
            data-action="click->plan-list#toggle">
      作成したプランを見る
    </button>

    <div class="plans-wrapper hidden" data-plan-list-target="list">
      <ul class="plans-list">
        <% @plans.each do |plan| %>
          <li class="plan-item">
            <%= link_to plan.date, plan_path(plan), class: "plan-link" %>
            <span class="plan-park">（<%= plan.park.name %>）</span>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
<% end %>
